@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #0044fe;
  --text-color: #979aa3;
  --heading-color: #1d1d1d;
  --font-bricolage: "Bricolage Grotesque", sans-serif;
  --font-saira: "Saira", sans-serif;
}

body {
  background-color: #f8fcff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-saira);
}

a {
  color: black;
  text-decoration: none !important;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: black !important;
  outline: 0;
  box-shadow: none !important;
}

.font-saira {
  font-family: var(--font-saira);
}

.btn-blue {
  background-color: var(--primary-color);
  font-family: var(--font-saira);
  padding: 12px 0px;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.chat-send {
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 100% 99%, 73% 77%, 0% 75%);
}

.chat-recive {
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 20% 76%, 0 100%, 0% 75%);
}
