@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #0044fe;
  --text-color: #979aa3;
  --heading-color: #1d1d1d;
}

body {
  background-color: #f8fcff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bricolage Grotesque", sans-serif;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: black !important;
  outline: 0;
  box-shadow: none !important;
}
